.searchScreen {
  display: flex;
  flex-direction: column;
}

.searchContainer {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  pointer-events: none;
}

.searchInput {
  width: 100%;
  padding: 10px 19px 10px 46px;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  box-sizing: border-box;
  color: rgba(41, 41, 40, 1);
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(48, 48, 48, 0.05);
}

.searchInput::placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #b5b5b5;
}

.searchDropdown {
  position: fixed;
  z-index: 9999;
  background-color: #f1f1f1;
  height: 445px;
}

.sectionTitle {
  margin: 15px 0 10px;
  font-family: "Inter";
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  color: #292928;
}

.searchItem {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  position: relative;
}

.searchItem img {
  width: 10px;
  height: 10px;
  object-fit: cover;
}

.searchItem span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #292928;
  margin-left: 10px;
}

.searchSection__withCards {
  padding: 40px 20px 20px 20px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #3030300d;
  z-index: 10;
}

.searchItem__сard {
  display: flex;
  height: 52px;
  gap: 20px;
}

.searchItem__сard span {
  display: flex;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #292928;
}

.searchInput:focus {
  outline: none;
}

.no-scroll {
  overflow: hidden;
}

.noPhoto {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  color: #292928;
}

@media (max-width: 360px) {
  .searchScreen.keyboardOpen {
    padding-bottom: 0;
  }
  .results {
    max-height: calc(100vh - 120px);
  }
  .searchDropdown {
    height: 295px;
  }
}
